---
title: 'Design Systems Slack'
description: 'A community for design systems practitioners.'
---

<div class="uik-l-grid uik-l-grid--gutters-x-large uik-l-grid--full uik-l-large-grid--fit">
	<section class="uik-l-grid__cell">
		<form method="POST" action="https://uselinefeed.com/workspaces/d3df7a94-a2cb-4f9f-92c3-878dbfea1408/applications" id="join-form" class="form">
			<fieldset>
				<legend>
					<label for="slack-email">Enter your email to join.</label>
				</legend>

				<div class="uik-c-input-button-group">
					<input class="uik-c-input" type="email" name="email" placeholder="Enter Your Email Address" id="slack-email" />
					<input name="redirect" type="hidden" value="http://design.systems/thanks/" />

					<button class="uik-c-button" type="submit">Join</button>
				</div>
			</fieldset>
		</form>
	</section>

	<section class="uik-l-grid__cell">
		<%= partial "code-of-conduct" %>
	</section>
</div>
